---
---

@import url("https://rsms.me/inter/inter.css");
@import url("https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css");

html, body { padding: 0; margin: 0; }

:root {
  --color-background: #F0F2F5;
  --color-primary: blue;
  --color-link: blue;
  --color-text: #323648;
  --color-green: #03A87C;
  --color-red: #FF5722;
  --color-border: rgba(0,0,0,0.1);
}

* { user-select: none; box-sizing: border-box; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

body { font-family: "Inter", sans-serif; background: var(--color-background); color: var(--color-text); opacity: 0; transition: 2s all ease; }
body.loaded { opacity: 1; }
body .step { display: none; }
body[data-step="1"] .step[data-step="1"] { display: block; }
body[data-step="2"] .step[data-step="2"] { display: block; }
body[data-step="3"] .step[data-step="3"] { display: block; }
body[data-step="4"] .step[data-step="4"] { display: block; }
body[data-step="5"] .step[data-step="5"] { display: block; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }

a { color: var(--color-link); }
.clear { clear: both; }
.center { text-align: center; }
.relative { position: relative; }
.absolute { position: absolute; }
.block { display: block; }
.inline-block { display: inline-block; }
.table { display: table; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.middle { display: table-cell; vertical-align: middle; width: 100%; padding: 20px; }
.width-full { width: 100%; }

.fade-in { animation-duration: 1s; animation-fill-mode: forwards; animation-name: fade-in-animation; backface-visibility: hidden; opacity: 0; }
.fade-out { animation-name: fade-in-fade-out-animation; }

.step { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; }

.options { position: absolute; left: 0; width: 100%; padding: 30px 0 0; margin: -30px 0 0; }
button { -webkit-appearance: none; appearance: none; outline: 0 none; font-family: inherit; background: white; border: 1px solid rgba(0,0,0,0.1); box-shadow: 0 1px 3px rgba(0,0,0,0.1); border-radius: 6px; padding: 8px 20px; font-size: 15px; margin: 0 5px 0; min-width: 120px; line-height: 20px; font-weight: 500; cursor: pointer; color: #4b5966; }
button span.mdi { margin-right: 10px; }

// Step 1
body[data-step="1"] { overflow: hidden; }
.fb { position: absolute; top: 56px; left: 0; width: 100%; height: calc(100% - 56px); overflow: hidden; }
.fb-feed { position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }
.fb .nav { background: white; position: fixed; top: 0; left: 0; width: 100%; height: 56px; box-shadow: 0 3px 3px rgba(0,0,0,0.05); z-index: 10; line-height: 54px; pointer-events: none; }
.fb .nav .desktop { display: block; }
.fb .nav .mobile { display: none; }
.fb .nav img { position: absolute; top: 50%; transform: translateY(-50%); height: 100%; display: none; }
.fb .nav img.left-desktop { display: block; left: 0; }
.fb .nav img.left-mobile { display: none; left: 0; }
.fb .nav img.mid { display: block;left: 50%; transform: translateX(-50%) translateY(-50%); }
.fb .nav img.right { display: block; right: 0; }

.facebook { text-align: left; cursor: pointer; color: #050505; width: 100%; position: relative; background: white; max-width: 680px; max-width: 620px; margin: 0 auto;padding: 0; border-radius: 8px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: all 0.3s ease; }
.facebook.prev, .facebook.next { opacity: 0.3; filter: blur(6px); pointer-events: none; }
.facebook.prev { margin-bottom: 25px; }
.facebook.next { margin-top: 25px; }

.facebook:hover { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0,0,0,0.1); transform: translateY(-1px); }
.facebook .header { position: relative; padding: 12px 16px 12px 66px; }
.facebook .photo { position: absolute; top: 12px; left: 16px; width: 40px; height: 40px; border-radius: 100%; background-size: cover; }
.facebook .name { font-weight: 600; font-size: 15px; line-height: 20px; margin: 0 0 3px; }
.facebook .time { color: #65676B; font-size: 13px; line-height: 16px;}
.facebook .text { font-size: 15px; line-height: 20px; padding: 0 16px 12px; }
.facebook .image { position: relative; width: 100%; height: 0; padding: 0 0 50%; display: block; background-size: cover; }
.facebook .gray { background: #F0F2F5; border-bottom: 1px solid #CED0D4; padding: 12px 112px 12px 16px; position: relative; }
.facebook .url { color: #65676B; font-size: 13px; text-transform: uppercase; line-height: 16px; margin: 0 0 5px; }
.facebook .title { font-size: 17px; line-height: 1.2; font-weight: 600; margin: 0 0 5px; }
.facebook .description { color: #65676B; font-size: 15px; line-height: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.facebook .cta { background: #e4e6eb; position: absolute; right: 0; line-height: 36px; font-weight: 500; border-radius: 6px; padding: 0 12px; font-size: 15px; margin: 0 15px; bottom: 50%; transform: translateY(50%); }
.facebook .footer { padding: 12px 16px; position: relative; font-size: 15px; line-height: 20px; color: #65676B; margin-bottom: -1px; }
.facebook .circle { position: relative; display: inline-block; margin-right: -6px; border: 2px solid white; background: white; border-radius: 100%; float: left; height: 18px; transform: translateY(-1px); }
.facebook .count { float: left; line-height: 20px; margin-left: 10px; }
.facebook .circle img { }
.facebook .circle.like { z-index: 10; }
.facebook .right { float: right; }
.facebook .clear { clear: both; }
.facebook .second-footer { padding: 0 16px 12px; position: relative; }
.facebook .second-footer-inner { border-top: 1px solid #CED0D4; position: relative; font-size: 0; padding-top: 12px; line-height: 16px; text-align: center; }
.facebook .second-footer .button { position: relative; display: inline-block; width: calc(100% / 3); color: #65676B; font-size: 15px; font-weight: 500; }
.facebook .second-footer .button span.mdi { margin-right: 7px; }

// Step 2

.lp { position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #323648; font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
.lp .container { width: calc(100% - 30px); max-width: 950px; margin: 0 auto; position: relative; }
.lp .hero { position: relative; background: white; text-align: left; padding: 60px 0 80px; box-shadow: 0 1px 1px rgba(0,0,0,0.1); z-index: 1; }
.lp .hero .logo { width: 100%; max-width: 200px; margin: 0 0 60px; }
.lp .hero-text { position: relative; padding: 0 50px 0 0; }
.lp .hero h1 { font-size: 42px; max-width: 400px; margin: 0 0 20px; }
.lp .hero p { font-size: 18px; line-height: 1.8; margin: 0 0 20px; opacity: 0.8; max-width: 400px; }
.lp .hero p.terms-text { font-size: 12px; opacity: 0.6; padding: 0 5px; width: 100%; max-width: 400px; margin: 0; text-align: center; }
.lp .hero .image { position: absolute; top: 0; right: 0; width: 50%; height: 100%; background-image: url("https://ucarecdn.com/e19537a1-eaef-4a34-9be5-aa066881db40/-/quality/lighter/-/progressive/yes/-/max_icc_size/10/"); background-size: cover; background-position: center center; }
.lp .form { width: 100%; max-width: 400px; font-size: 0; padding-top: 10px; }
.lp input { -webkit-appearance: none; appearance: none; border: 0 none; outline: 0 none; font-family: inherit; font-weight: inherit; background: transparent; color: inherit; border-radius: 5px; font-size: 16px; padding: 12px; width: 100%; margin: 0 0 15px; }
.lp input[type=text], .lp input[type=email], .lp input[type=tel] { border: 1px solid #DDDDDD; }
.lp input[type=text]:focus, .lp input[type=email]:focus, .lp input[type=tel]:focus { border: 1px solid #227EF7; }
.lp input[type=submit] { font-size: 17px; background: #227EF7; color: white; box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 -1px 0 rgba(0,0,0,0.2) inset; font-weight: 600; padding: 12px 20px; margin-top: 10px; border: 2px solid #227EF7; }
.lp input[type=submit]:focus { border: 2px solid white; outline: 1px solid #227EF7; box-shadow: 0 0 0 transparent; }
.lp .features { position: relative; background: #FAFAFA; color: #333333; padding: 80px 0; overflow: hidden; text-align: center; font-size: 17px; line-height: 1.8; }
.lp .features h2 { font-size: 40px; line-height: 1.3; margin: 0 0 30px; margin-left: auto; margin-right: auto; }
.lp .features p { max-width: 660px; margin: -10px auto 50px; font-size: 18px; }
.lp .features ul { padding-left: 20px; margin: 0 0 -10px; list-style: none; width: calc(100% + 70px); font-size: 0; padding: 0; }
.lp .features ul li { padding: 0 0 10px 5px; width: calc((100% / 3) - 70px); margin: 0 70px 50px 0; display: inline-block; font-size: 15px; vertical-align: top; padding: 0; }
.lp .features ul li .icon { background: #621E31; display: inline-block; margin: 0 0 25px; border-radius: 100%; }
.lp .features ul li .icon span.mdi { color: white; padding: 15px; display: block; line-height: 1; font-size: 40px;}
.lp .features ul li h3 { font-weight: 600; font-size: 20px; line-height: 1.2; margin: 0 0 15px; }
.lp .features ul li p { font-size: 17px; margin: 0 auto; }

// Step 3
 
.imessage { text-align: left; position: relative; width: 100%; margin: 0 auto; background: white; max-width: 400px; overflow: hidden; padding: 20px 20px 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.2); border-radius: 20px; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 17px; touch-action: pan-x pan-y; transform: rotate(2deg); user-select: none; height: 100%; max-height: 600px; animation-name: fade-in-animation; overflow-y: auto; }
.imessage .date { text-align: center; font-size: 12px; color: #aaa; margin: 0 0 10px; letter-spacing: 0.2px; float: left; width: 100%; }
.imessage .date strong { font-weight: 500; }
.imessage p { max-width: 80%; word-wrap: break-word; margin: 0 0 10px; line-height: 24px; position:relative; padding:10px 20px; border-radius:25px; float: left; clear: both; display: inline-block; }
.imessage p:before, p:after { content:""; position:absolute; bottom:-2px; height:20px; }
.imessage .typing-indicator .dots { display: inline-block; }
.imessage .typing-indicator .text { display: none; }
.imessage .typing-indicator .dots dot { width: 12px; height: 12px; border-radius: 100%; opacity: 0.4; background: rgba(0,0,0,0.4); display: inline-block; margin: 0 2px;
  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}) {
      animation: 1s blink infinite ($i * .3333s);
    }
  }
}
.imessage .from-me { color:white; background:#5f92ee; float: right; }
.imessage .from-me:before { right:-7px; border-right:20px solid #5f92ee; border-bottom-left-radius: 16px 14px; transform:translate(0, -2px); }
.imessage .from-me:after { right:-56px; width:26px; background:white; border-bottom-left-radius: 10px; transform:translate(-30px, -2px); }
.imessage .from-them { background:#EAEAEA; color:black; }
.imessage .from-them:before { left:-7px; border-left:20px solid #EAEAEA; border-bottom-right-radius: 16px 14px; transform:translate(0, -2px); }
.imessage .from-them:after { left:4px; width:26px; background:white; border-bottom-right-radius: 10px; transform:translate(-30px, -2px); }
.imessage p.with-attachment { min-width: 280px; background: #EAEAEA; color: black; overflow: hidden; }
.imessage p.with-attachment:before, .imessage p.with-attachment:after { display: none; }
.imessage .image { position: relative; width: calc(100% + 40px); height: 140px; display: block; border-radius: 25px 25px 0 0; margin: -10px -20px 15px; overflow: hidden; }
.imessage .image img { object-fit: cover; object-position: center center; position: absolute; top: 0; left: 0; width: 100%; height: 100%;  }
.imessage p span.label { font-weight: 500; display: block; line-height: 1.2; margin: 0 0 5px; }
.imessage p span.url { opacity: 0.5; font-size: 14px; letter-spacing: 0.2px; display: block; }
.imessage p a { text-decoration: none; color: inherit; pointer-events: none; }

// Media Queries

@media screen and (max-width: 1300px) {
  .fb .nav img.left-desktop { display: none; }
  .fb .nav img.left-mobile { display: block; }
}

@media screen and (max-width: 1023px) {
  .lp .container { margin: 0 auto; }
  .lp .hero .container { width: 50%; padding: 0 30px; margin: 0; }
  .fb .nav img.mid { display: none; }
  .imessage { position: relative; top: auto; right: auto; transform: none; animation-name: fade-in-animation; max-width: 350px; }
  .imessage p { max-width: 90%; }
  .lp .features .container { max-width: 400px; padding: 0 15px; }
  .lp .features h2 { font-size: 28px; max-width: 300px; }
  .lp .features p { font-size: 16px !important; max-width: 300px; }
  .lp .features ul { width: auto; margin: 0 -10px; }
  .lp .features ul li { width: 100%; padding: 0 15px; margin: 0 0 30px; }
/*
  .lp .features ul li h3 { font-size: 17px; }
  .lp .features ul li p { font-size: 15px; }
*/
}

@media screen and (max-width: 700px) {
  body { padding: 10px; }
  .middle { padding: 15px; }
  .facebook { max-width: calc(100vw - 30px); }
  .facebook .description { font-size: 14px; line-height: 1.3; }
  .lp .container { width: 100%; top: auto; transform: none; }
  .lp .hero .container  { width: 100%; margin: 0 auto; }
  .lp .hero { padding: 0 0 30px; }
  .lp .hero .logo { max-width: 150px; margin: 0 auto; padding: 20px 0 240px; }
  .lp .hero .image { top: 70px; left: 0; width: 100%; height: 200px; }
  .lp .hero-text { padding: 0; text-align: center; }
  .lp .hero h1 { font-size: 28px; max-width: 270px; margin: 0 auto 20px; }
  .lp .hero p { font-size: 16px; margin: 0 auto 20px; max-width: 300px; }
  .lp .hero p.terms-text { font-size: 12px; margin: 0 auto; padding: 0; line-height: 1.4; max-width: 200px; }
  .lp .form { margin: 0 auto; max-width: 300px; }
  .lp .features { padding: 40px 0 10px; }
  .lp .features p { margin-bottom: 40px; }
}

// Animations

@keyframes fade-in-animation {
  0%   { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: none; }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}