<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no" />
  <!-- Start Special Meta Tags -->
  <title>ALAN</title>
  <meta property="og:title" content="">
  <meta name="description" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="twitter:card" content="summary_large_image">  
  <meta name="theme-color" content="#5F6EEE">
  <!-- End Special Meta Tags -->    
  <link rel="apple-touch-icon" href="/assets/images/icon.png">
  <link rel="shortcut icon" href="/assets/images/icon.ico" />
  <link rel="stylesheet" href="/assets/styles.css">
</head>