<!DOCTYPE html>
<html lang="en">
  
  {%- include head.html -%}
  
  <body>
    
    {{ content }}
    
    <div class="footer colored">
      <div class="container">
        <p><a href="/privacy/">Privacy</a></p>
        <p><a href="https://www.facebook.com/usealanapp/" target="_blank">Facebook</a></p>
        <p><a href="https://www.linkedin.com/company/usealan" target="_blank">LinkedIn</a></p>
        <p><a href="mailto:support@usealan.com" target="_blank">Contact Us</a></p>
        <p>© 2021 ALAN Deep Learning Inc</p>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts.js"></script>
  </body>
</html>